.menu-content {
    margin-top: 50px; /* Adds spacing above the Add button and table */
    background-color: white;
    shape-outside: margin-box;
    /* margin: 200px; */
    margin-left: 300px;
    margin-top: 150px;
    border-radius: 20px;
}

.add-btn {
    margin-top: 10px; /* Adds space below the Add button */
    /* margin-left: 200px; */
    margin-right: 40px;
}

table {
    margin-top: 70px; /* Adds spacing below the Add button */
}
