/* Pagination.css */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    color:black

  }
  
  .pagination button:hover {
    background-color: #f1f1f1;
    
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
    background-color: #e0e0e0;
    border-color: #ddd;
    color:black
  }
  
  .pagination button.active {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
    
  }
  
  .pagination button:focus {
    outline: none;
  }
  
  .pagination button:first-child {
    border-radius: 5px 0 0 5px;
  }
  
  .pagination button:last-child {
    border-radius: 0 5px 5px 0;
  }
  