body {
    background-image: url('https://images.squarespace-cdn.com/content/v1/591d663de3df28c0ec87d4bc/1561093400493-1Y136O6AWS754R9XIZRV/BlueCorner_ProfessionalPrograms_Banner_2000px_Small.png?format=2500w');
    background-size: cover; /* Makes the image cover the entire viewport */
    background-position: center; /* Centers the background image */
    background-attachment: fixed; /* Optional: Makes the background image stay fixed during scrolling */
}
.app {
    display: flex;
}

.sidebar {
    width: 230px;
    /* background-color: #f4f4f4; */
    padding: 20px;
    height: 100vh;
    color: rgb(26, 65, 65);
}

.content {
    flex: 1;
    padding: 20px;

    /* width: ; */
    /* background-color: #e9ecef; */

    
}